@page
@model PosManager.Pages_Categories.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-4">
                <input asp-for="Category.Name" class="form-control" placeholder="Sneakers" />
                <label asp-for="Category.Name"></label>
                <span asp-validation-for="Category.Name" class="invalid-feedback"></span>
            </div>
            <div class="form-floating mb-4">
                <textarea asp-for="Category.Description" class="form-control" placeholder="Leave a description here"
                    style="height: 100px"></textarea>
                <label asp-for="Category.Description" class="control-label"></label>
                <div asp-validation-for="Category.Description" class="invalid-feedback"></div>
            </div>
            <div class="form-group mb-4">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-dark" asp-page="Index">Back to Categories</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
